* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formato_reservar {
  width: 60%;
  padding-left: 10%;
  text-align: left;
  color:white;
  font-weight: bolder;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.inputs_reservaciones {
  padding-top: 3%;
}

.titulo_reservaciones {
  width: 80%;
  padding-left: 10%;
  text-align: center;
  color: rgb(255, 123, 0);
}

.boton {
  padding-top: 7%;
}

@media screen and (max-width: 701px) {
  .formato_reservar {
    padding-left: 30%;
  }

  .boton {
    padding-top: 15%;
  }

}