* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nosotros {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: 70%;
  height: 89vh;
  color: white;
}

.titulos_nosotros {
  padding-top: 10px;
  padding-bottom: 3px;
  font-size: 35px;
  color: rgb(255, 123, 0);
}

.text {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: x-large;
  color: yellow;
}

.horario {
  padding-top: 9px;
  padding-bottom: 0px;
}

.ubicacion_map {
  margin-top: 0;
}

@media screen and (max-width: 701px) {
  .nosotros {
    width: 100%;
    height: 500px;
  }

  .text {
    font-size: 20px;
    padding-top: 0px;
    padding-left: 0%;
  }

  .titulos_nosotros {
    font-size: 25px;
    padding-left: 0%;
  }
}
