.App {
  text-align: center;
  width: 100%;
  height: 665px;
  background-image: url(./img/imagen.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 701px) {
  .App {
    height: 935px;
  }
}
