.App {
  text-align: center;
  width: 100%;
  background-color: saddlebrown;
  z-index: -2;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.imagen {
  position: absolute;
  width: 100%;
  height: auto;
  display: block;
  z-index: -1;
}



@media screen and (max-width: 701px) {
  .App {
    height: 935px;
  }
}
