* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  width: 95%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.linea {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.titulos {
  font-size: 25px;
  color: blanchedalmond;
  font-weight: bold;
}

.listadoDatos {
  width: 40%;
}

.formato {
  width: 40%;
}

.botones {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.editarR {
  text-align: left;
  color: brown;
  font-weight: bold;
}

.divBoton {
  margin-top: 2%;
  text-align: center;
}

@media screen and (max-width: 701px) {
  .linea {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .listadoDatos {
    width: 100%;
  }

  .formato {
    width: 100%;
    margin-top: 10%;
  }
}
